/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */



/* CSS Document */


/* General */

* { margin: 0; padding: 0; }

html { height: 100%; font-size: 62.5% }

body {
height: 100%;
background-color: #10578D;
text-align: center;
font: 1.2em Verdana, Arial, Helvetica, sans-serif;
background-image: url("/img/CityTransport.gif");
background-repeat: no-repeat;
background-size: cover;
opacity: 0.98;  



}

a:link, a:visited {
color: #004F8B;
text-decoration: underline;
font-weight: bolder;
}

a:hover {
text-decoration: none;
}



/* Wrapper */

#wrapper {
width: 850px;
height 60px;
margin: 60px auto;
text-align: left;
background-image: url("/img/background.gif");
background-repeat: no-repeat;
background-size: auto;

}


/* Headings, paragraphs */

.title {

letter-spacing: 1px;
width: 39em;
background-image: url("/img/panel-back.gif");
background-repeat: no-repeat;
background-size: cover;
margin: 0 0 0 175px;

}



.btn, .btn-menu{
  color: white;
  background: black;
  font-weight: bold;
}

.btn-menu{
 width:90%;
 padding: 5px;
}




.btn:hover,.btn-menu:hover {
  color: black;
  background: white;
}


.title p {
color: #FFFFFF;
}

h1 {
font: normal 2.4em Georgia, "Times New Roman", Times, serif;
color: #FFFFFF;
padding-top: 25px;
margin-left: 20px;
}

h1 a:link, h1 a:visited {
color: #FFFFFF;
text-decoration: none;
font-weight: normal;
}

h1 span {
color: #FFB849;
}

h2 {
font: normal 1.3em Georgia, "Times New Roman", Times, serif;
color: #FFFFFF;
letter-spacing: 1px;
background: url('.img/h2-bg.gif') no-repeat 0 53%;
padding-left: 25px;
margin-bottom: 7px;
}


/* Menu */

ul.menu {
list-style-type: none;
text-align: center;


}

ul.menu li {
background: url('.img/menu-li-divider.gif') no-repeat 50% 100%;
padding: 18px 0;



}

ul.menu li a, ul.menu li a:visited {
color: #FFFFFF;
font-weight: normal;
text-decoration: none;
padding: 4px 7px;


}

ul.menu li a:hover, ul.menu li a.active {
background-color: #002F53;

}

ul.menu li.last {
background: none;

}


/* Content box */

.content {
width: 850px;
margin: 19px auto 0 auto;
}

.column-left {
float: left;
width: 165px;
text-align: center;
color: #FFFFFF;
}

.column-left h2 {
font: normal 1.5em Georgia, "Times New Roman", Times, serif;
margin: 10px 0 7px 0;
letter-spacing: 1px;
}

.column-right {

margin: 0 0 0 191px;
width: 650px;
}



.box {
background: url('.img/box-bg.gif') repeat-y 0 0;
}

.box-in {

padding: 0.8em 0 5em 0;
margin: 0 6em 0 -1em;
height: 400px;

}

.box-in p {
line-height: 1.6;
margin: 0 0 10px 25px;
color: #242424;
}



ul.main-list {
list-style-type: none;
margin: 14px 0 20px 25px;
}

ul.main-list li {
line-height: 1.3;
margin-bottom: 12px;
color: #004F8B;
background: url('.img/bullet.gif') no-repeat 0 0;
padding-left: 27px;

}

























































