<wicket:panel>
	<ul class="menu">
		<li><button class="btn-menu" wicket:id="btn-shedule">
				<wicket:message key="schedule" />
			</button></li>
		<li><button class="btn-menu" wicket:id="Liked">
				<wicket:message key="liked" />
			</button></li>
		<li><button class="btn-menu" wicket:id="drivers-page">
				<wicket:message key="drivers" />
			</button></li>
		<li><button class="btn-menu" wicket:id="routes-page">
				<wicket:message key="routes" />
			</button></li>
		<li><button class="btn-menu" wicket:id="stops-page">
				<wicket:message key="stops" />
			</button></li>
		<li><button class="btn-menu" wicket:id="transport-page">
				<wicket:message key="transport" />
			</button></li>
		<li><button class="btn-menu" wicket:id="transport-type-page">
				<wicket:message key="transportType" />
			</button></li>
	</ul>
</wicket:panel>
