<wicket:panel>
	<ul class="menu">
		<li><button class="btn" wicket:id="btn-shedule">
				<wicket:message key="schedule" />
			</button></li>
		<li><button class="btn" wicket:id="Liked">
				<wicket:message key="liked" />
			</button></li>
		<li><button class="btn" wicket:id="drivers-page">
				<wicket:message key="drivers" />
			</button></li>
		<li><button class="btn" wicket:id="routes-page">
				<wicket:message key="routes" />
			</button></li>
		<li><button class="btn" wicket:id="stops-page">
				<wicket:message key="stops" />
			</button></li>


	</ul>
</wicket:panel>
